@import "../../styles/colors";

.container {

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 50% !important;
  width: 100%;
  height: 100%;

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(67,159,28);
    background: -moz-linear-gradient(135deg, rgba(67,159,28,1) 0%, rgb(40, 105, 13) 100%);
    background: -webkit-linear-gradient(135deg, rgba(67,159,28,1) 0%, rgb(40, 105, 13) 100%);
    background: linear-gradient(135deg, rgba(67,159,28,1) 0%, rgb(40, 105, 13) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#439f1c",endColorstr="#3d8c1c",GradientType=1);

  }

  &Content {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 75%;
    height: 75%;
    border-radius: inherit;
    transition: .3s;

    & p {

      display: flex;
      justify-content: center;
      align-items: center;
      color: $base-color;
      font-size: 100%;
      user-select: none;
      pointer-events: none;
      border-radius: 50%;

    }

    &:hover {
      background: #fff;
    }


  }

  & span {

    background: $button-color2;


  }

}
