@import "../../styles/colors";

.container {
  display: flex;
  min-height: 6rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem 0 11.5%;

  @include base-shadow;

  &Icon {
    display: flex;
    align-items: center;
    width: 4rem;
    height: 4rem;

    & img {
      width: 100%;
      height: 100%;
    }

    & span {
      color: $text-green2;
      font-weight: 600;
      padding: 0 0 0 2rem;
    }

  }

}
